<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robotic_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="claw_support_to_right_finger">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['claw_support_to_right_finger']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="forward_drive_arm_to_horizontal_arm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['forward_drive_arm_to_horizontal_arm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="forward_drive_arm_to_triangular_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['forward_drive_arm_to_triangular_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="triangular_link_to_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['triangular_link_to_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="base_plate_to_link3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_plate_to_link3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="base_plate_to_vertical_drive_arm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_plate_to_vertical_drive_arm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
